<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.management.project.library.mapper.AttachmentMapper">

    <select id="get" parameterType="java.util.List" resultType="xyz.management.project.library.entity.CommonData">
        select * from common_data where id in 
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="add" parameterType="java.util.List">
        insert into attachment (
            id, file_name, storage_location, mime_type, file_size, file_order, project_id
        ) values 
        <foreach collection="list" item="attachment" separator=",">
            (
                #{attachment.id},
                #{attachment.fileName},
                #{attachment.storageLocation},
                #{attachment.mimeType},
                #{attachment.fileSize},
                #{attachment.fileOrder},
                #{attachment.projectId}
            )
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.util.List">
        delete from attachment where id in
        <foreach collection="list" item="attachment" open="(" separator="," close=")">
            #{attachment.id}
        </foreach>
    </delete>

</mapper>