<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.management.project.library.mapper.OtherMapper">
    <select id="get" parameterType="java.util.List" resultType="xyz.management.project.library.entity.Other">
        select * from other where id in 
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="add" parameterType="java.util.List">
        insert into other (
            id, notes
        ) values 
        <foreach collection="list" item="other" separator=",">
            (
                #{other.id},
                #{other.notes}
            )
        </foreach>
        
    </insert>
    
    <delete id="delete" parameterType="java.util.List">
        delete from other where id in
        <foreach collection="list" item="other" open="(" separator="," close=")">
            #{other.id}
        </foreach>
    </delete>



</mapper>