<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.management.project.library.mapper.OtherMapper">
    <insert id="add" parameterType="xyz.management.project.library.entity.OtherItem">
        INSERT INTO other_item (
            id,
            notes
        ) VALUES (
            #{id},
            #{notes}
        )
    </insert>

    <select id="get" parameterType="xyz.management.project.library.entity.OtherItem">
        SELECT * FROM other_item
        <where>
            id IN
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>