<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.management.project.library.mapper.PaperMapper">

    <select id="get" parameterType="java.util.List" resultType="xyz.management.project.library.entity.Paper">
        select * from paper where id in 
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="add" parameterType="java.util.List">
        insert into paper (
            id, publicate_location, sci, ei, ccf, jcr, publicate_date
        ) values 
        <foreach collection="list" item="paper" separator=",">
            (
                #{paper.id},
                #{paper.publicateLocation},
                #{paper.sci},
                #{paper.ei},
                #{paper.ccf},
                #{paper.jcr},
                #{paper.publicateDate}
            )
        </foreach>
        
    </insert>
    
    <delete id="delete" parameterType="java.util.List">
        delete from paper where id in
        <foreach collection="list" item="paper" open="(" separator="," close=")">
            #{paper.id}
        </foreach>
    </delete>

</mapper>