<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.management.project.library.mapper.PatentMapper">

    <select id="get" parameterType="java.util.List" resultType="xyz.management.project.library.entity.Patent">
        select * from patent where id in 
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="add" parameterType="java.util.List">
        insert into patent (
            id, application_date, authorization_date
        ) values 
        <foreach collection="list" item="patent" separator=",">
            (
                #{patent.id},
                #{patent.applicationDate},
                #{patent.authorizationDate}
            )
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.util.List">
        delete from patent where id in
        <foreach collection="list" item="patent" open="(" separator="," close=")">
            #{patent.id}
        </foreach>
    </delete>

</mapper>