<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.management.project.library.mapper.ProjectMapper">

    <insert id="add" parameterType="xyz.management.project.library.entity.ResearchItem">
        INSERT INTO project (
            id,
            project_type, 
            amount, 
            start_date, 
            end_date, 
            project_id_str, 
            approval_number, 
            funding_card_number, 
            project_category, 
            project_sub_category, 
            person_in_charge
        ) VALUES (
            #{id},
            #{projectType.name()},
            #{amount},
            #{startDate},
            #{endDate},
            #{projectIdStr},
            #{approvalNumber},
            #{fundingCardNumber},
            #{projectCategory},
            #{projectSubCategory},
            #{personInCharge}
        )
    </insert>

    <select id="get" parameterType="xyz.management.project.library.entity.Project">
        SELECT * FROM project
        <where>
            id IN
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>