<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.management.project.library.mapper.ProjectMapper">

    <select id="get" parameterType="java.util.List" resultType="xyz.management.project.library.entity.Project">
        select * from project where id in 
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="add" parameterType="java.util.List">
        insert into project (
            id, project_type, amount, start_date, end_date, project_id, approval_number, card_number, project_category, funding_person
        ) values 
            <foreach collection="list" item="project" separator=",">
                (
                    #{project.id},
                    #{project.projectType},
                    #{project.amount},
                    #{project.starDate},
                    #{project.endDate},
                    #{project.projectId},
                    #{project.approvalNumber},
                    #{project.cardNumber},
                    #{project.projectCategory},
                    #{project.fundingPerson}
                )
            </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.util.List">
        delete from project where id in
        <foreach collection="list" item="project" open="(" separator="," close=")">
            #{project.id}
        </foreach>
    </delete>

</mapper>